<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Testing Nodemailer Using HTML Tags</title>
</head>

<body>
  <h2>Hello {{name}}! </h2>
  <p>pls , refer to the below table which generated dynamically</p><br>
  <table style="text-align: center;border:1px solid black">
    <thead>
      <th>Sr. no</th>
      <th>Data</th>
    </thead>
    <tbody style="text-align: center;border:1px solid black">
      {{#tableBody}}
      <tr>
        <td>{{srNo}}
        </td>
        <td>{{date}}</td>
      </tr>
      {{/tableBody}}
    </tbody>
  </table>
</body>

</html>